<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand is-flex is-align-items-center">
            <a class="navbar-item">
                <img class="header-logo" src="/assets/images/links-logo.png" height="75">
            </a>
        </div>
        
        <div id="navbar" class="navbar-menu is-block">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a (click)="logout()" class="button is-primary is-medium is-outlined">
                        <span>LOGOUT</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>