<div class="card">
    <div class="card-content">
        <form class="mt-3" [formGroup]="linkForm" (ngSubmit)="addLink()">
            <div class="field">
                <label class="label">{{ 'urlToSave' | transloco }}</label>
                <input formControlName="url" class="input" type="text">
                <p *ngIf="this.linkForm.controls['url'].errors?.['pattern']" class="help is-danger mt-3">
                    {{ 'urlInvalid' | transloco }}
                </p>
                <p *ngIf="this.linkForm.controls['url'].touched && this.linkForm.controls['url'].errors?.['required']"
                    class="help is-danger mt-3">
                    {{ 'urlRequired' | transloco }}
                </p>
            </div>
            <div class="field">
                <label class="label">{{ 'nameOfUrl' | transloco }}</label>
                <input formControlName="name" class="input" type="text">
                <p *ngIf="this.linkForm.controls['name'].touched && this.linkForm.controls['name'].invalid"
                    class="help is-danger mt-3">
                    {{ 'nameRequired' | transloco }}
                </p>
            </div>
            <div class="field">
                <p class="control is-flex is-justify-content-end">
                    <button type="submit" class="button is-primary is-medium is-filled" [disabled]="!linkForm.valid">
                        <span class="is-uppercase">{{ 'add' | transloco }}</span>
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>