<div class="card">
    <div class="card-content is-flex is-justify-content-center">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <span class="card-title">www.url.com</span>
                    <p class="card-subtitle has-text-black mt-4">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint .
                    </p>
                </div>
            </div>
            <div class="media-right">
                <button class="button is-white is-medium">
                    <span class="icon is-medium has-text-danger">
                        <i class="fas fa-2x fa-trash-alt"></i>
                    </span>
                </button>
            </div>
        </article>
    </div>
</div>