/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

.button.is-outlined {
    border: 2px solid;
    border-radius: 4px;
    span {
        @extend .px-4;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: 0.75px;
    }
}